
.optionsContainer {
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    .option {
      outline: none;
      border: none;
      padding: 10px 0;
      width: 90%;
    }
  }
  