.bgImage {
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  .summary {
    background-color: rgba($color: white, $alpha: 0.8);
    width: 280px !important;
    display: flex;
    height: 250px;
    top: 280px;
    left: 100px;
    padding: 30px 40px !important;
    justify-content: space-between !important;
    flex-direction: column;
  }
  .summaryUniNameContent {
    background-color: rgba($color: white, $alpha: 0.8);
    width: fit-content !important;
    height: 100px;
    top: 280px;
    left: 400px;
  }
  .summaryUniName {
    margin: 0 !important;
    color: #5a5a5a;
    font-size: 28px;
    font-weight: 500;
  }
  @media (max-width: 900px) {
    .summaryUniNameContent {
      display: none;
    }
    .summary {
      display: none;
    }
  }
}
