.bgImage {
  position: relative;
  height: 100vh;
  width: 100vw;
  object-position: 0% 25%;
  object-fit: cover;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  .uniAtlas {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 850px) {
  .bgImage {
    object-position: 40% 25%;
  }
}

@media (max-width: 580px) {
  .bgImage {
    object-position: 50% 25%;
  }

  .wrapper {
    height: 120vh;

    .uniAtlas {
      top: 50px;
      left: 40px;
      width: 100px;
      height: 100px;
    }
  }
  .finder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transform: rotate(-5deg);
    margin-top: -30px;
    width: calc(100% + 20px);
    margin-bottom: 40px;
    padding-right: 20px;
    padding-top: 10px;
  }
}
